<!DOCTYPE html>
<html lang="en">

<!-- completely incomplete, uneccesary for prototype-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
    <title>Gamers/Content Creators</title>
    <style>
        .Sub-Page{
            background-color: #58aeff;
            color: white;
        }
	</style>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>

    <div class="container text-center"> 
        <h1 class="Sub-Page"> 
            Gamers/Content Creators        
        </h1> 
        
        <div class="mb-4">
            <a href="/" class="btn btn-outline-secondary">Home</a>
        </div>

        <div class="row"> 
            <div class="col"> 
                
            </div>
            <div class="col"> 
            </div>
            <div class="col"> 
            </div> 
        </div> 
    </div> 

</body>

</html>